tfg-samuel/src/gazebo_simulation/build/
tfg-samuel/src/gazebo_simulation/install/
tfg-samuel/src/gazebo_simulation/log/
tfg-samuel/src/go2_ros2_sdk/build/
tfg-samuel/src/go2_ros2_sdk/install/ 
tfg-samuel/src/go2_ros2_sdk/log/
